name: Build PR

on:
  pull_request:
    types:
      - synchronize
      - opened

jobs:
  build:
    name: Build
    uses: ApexStudios-Dev/.github/.github/workflows/_build.yml@master
    secrets: inherit
    with:
      java-version: 25
      java-vendor: temurin
      use-self-runner: false