name: Publish

on:
  workflow_dispatch:
  push:
    branches: [ "**/main" ]
    paths: [ "**/src/**" ]

jobs:
  publish-maven:
    uses: ApexStudios-Dev/.github/.github/workflows/_publish-maven.yml@master
    secrets: inherit
    with:
      java-version: 21
      java-vendor: temurin
      publish-task: ':publishAllPublicationsToApexStudios-ReleasesRepository'
      use-self-runner: false
