name: Upload PR

on:
  pull_request_target:
    types:
      - synchronize
      - opened

jobs:
  generate-vars:
    name: Generate Vars
    uses: ApexStudios-Dev/.github/.github/workflows/_generate-vars.yml@master
    secrets: inherit

  upload-pr:
    name: Upload PR
    needs: generate-vars
    if: success()
    uses: ApexStudios-Dev/.github/.github/workflows/_upload-pr.yml@master
    secrets: inherit
    with:
      java-version: 21
      java-vendor: temurin
      version: ${{ needs.generate-vars.outputs.version }}